#!/bin/sh

case "$1" in
    build)
        ;;
    package)
        mkdir -p ${pkgdir}/usr/share/wazo/plugins/zoiper-oem
        cp zoiper_oem_page.html ${pkgdir}/usr/share/wazo/plugins/zoiper-oem/
        ;;
    install)
        # Any actions to take once the plugin is installed
        ;;
    uninstall)
        # Remove any plugin-specific configurations
        ;;
    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
        ;;
esac

